In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import display, Markdown

In [22]:
#data_file_desc_path = './project_desc.csv'
data_file_path = './project_data.csv'

#data_desc_df = pd.read_csv(data_file_desc_path)
data_df = pd.read_csv(data_file_path)

In [28]:
print(data_df.describe().T)

                             count           mean            std  \
SK_ID_CURR                158791.0  278453.240763  102680.393364
TARGET                    158791.0       0.149996       0.357069
CNT_CHILDREN              158791.0       0.423355       0.725924
AMT_INCOME_TOTAL          158791.0  168890.151747  310803.537588
AMT_CREDIT                158791.0  596960.753620  399018.465671
...                            ...            ...            ...
OBS_60_CNT_SOCIAL_CIRCLE  158293.0       1.410808       2.448515
DEF_60_CNT_SOCIAL_CIRCLE  158293.0       0.103005       0.369943
DAYS_LAST_PHONE_CHANGE    158790.0    -952.990459     823.770086
MISSED                    158791.0       1.123936       2.900722
RECOVERED                  23818.0       0.476529       0.245353

                                    min            25%            50%  \
SK_ID_CURR                100002.000000  189571.000000  278694.000000
TARGET                         0.000000       0.000000       0.000000
CNT_CHILDREN                   0.000000       0.000000       0.000000
AMT_INCOME_TOTAL           25650.000000  112500.000000  144000.000000
AMT_CREDIT                 45000.000000  270000.000000  514777.500000
...                                 ...            ...            ...
OBS_60_CNT_SOCIAL_CIRCLE       0.000000       0.000000       0.000000
DEF_60_CNT_SOCIAL_CIRCLE       0.000000       0.000000       0.000000
DAYS_LAST_PHONE_CHANGE     -4173.000000   -1556.000000    -744.000000
MISSED                         0.000000       0.000000       0.000000
RECOVERED                      0.050027       0.263832       0.475489

                                    75%           max
SK_ID_CURR                367188.500000  4.562550e+05
TARGET                         0.000000  1.000000e+00
CNT_CHILDREN                   1.000000  1.900000e+01
AMT_INCOME_TOTAL          202500.000000  1.170000e+08
AMT_CREDIT                808650.000000  4.050000e+06
...                                 ...           ...
OBS_60_CNT_SOCIAL_CIRCLE       2.000000  3.440000e+02
DEF_60_CNT_SOCIAL_CIRCLE       0.000000  2.400000e+01
DAYS_LAST_PHONE_CHANGE      -270.000000  0.000000e+00
MISSED                         0.000000  1.200000e+01
RECOVERED                      0.688102  8.998693e-01

[79 rows x 8 columns]

In [29]:
print(pd.DataFrame(data_df.info()))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158791 entries, 0 to 158790
Data columns (total 95 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   SK_ID_CURR                    158791 non-null  int64
 1   TARGET                        158791 non-null  float64
 2   NAME_CONTRACT_TYPE            158791 non-null  object
 3   CODE_GENDER                   158791 non-null  object
 4   FLAG_OWN_CAR                  158791 non-null  object
 5   FLAG_OWN_REALTY               158791 non-null  object
 6   CNT_CHILDREN                  158791 non-null  int64
 7   AMT_INCOME_TOTAL              158791 non-null  float64
 8   AMT_CREDIT                    158791 non-null  float64
 9   AMT_ANNUITY                   158786 non-null  float64
 10  AMT_GOODS_PRICE               158654 non-null  float64
 11  NAME_TYPE_SUITE               158135 non-null  object
 12  NAME_INCOME_TYPE              158791 non-null  object
 13  NAME_EDUCATION_TYPE           158791 non-null  object
 14  NAME_FAMILY_STATUS            158791 non-null  object
 15  NAME_HOUSING_TYPE             158791 non-null  object
 16  REGION_POPULATION_RELATIVE    158791 non-null  float64
 17  DAYS_BIRTH                    158791 non-null  int64
 18  DAYS_EMPLOYED                 158791 non-null  int64
 19  DAYS_REGISTRATION             158791 non-null  float64
 20  DAYS_ID_PUBLISH               158791 non-null  int64
 21  OWN_CAR_AGE                   53502 non-null   float64
 22  FLAG_MOBIL                    158791 non-null  int64
 23  FLAG_EMP_PHONE                158791 non-null  int64
 24  FLAG_WORK_PHONE               158791 non-null  int64
 25  FLAG_CONT_MOBILE              158791 non-null  int64
 26  FLAG_PHONE                    158791 non-null  int64
 27  FLAG_EMAIL                    158791 non-null  int64
 28  OCCUPATION_TYPE               109739 non-null  object
 29  CNT_FAM_MEMBERS               158791 non-null  float64
 30  REGION_RATING_CLIENT          158791 non-null  int64
 31  REGION_RATING_CLIENT_W_CITY   158791 non-null  int64
 32  WEEKDAY_APPR_PROCESS_START    158791 non-null  object
 33  HOUR_APPR_PROCESS_START       158791 non-null  int64
 34  REG_REGION_NOT_LIVE_REGION    158791 non-null  int64
 35  REG_REGION_NOT_WORK_REGION    158791 non-null  int64
 36  LIVE_REGION_NOT_WORK_REGION   158791 non-null  int64
 37  REG_CITY_NOT_LIVE_CITY        158791 non-null  int64
 38  REG_CITY_NOT_WORK_CITY        158791 non-null  int64
 39  LIVE_CITY_NOT_WORK_CITY       158791 non-null  int64
 40  ORGANIZATION_TYPE             158791 non-null  object
 41  APARTMENTS_AVG                77485 non-null   float64
 42  BASEMENTAREA_AVG              65228 non-null   float64
 43  YEARS_BEGINEXPLUATATION_AVG   80556 non-null   float64
 44  YEARS_BUILD_AVG               52618 non-null   float64
 45  COMMONAREA_AVG                47387 non-null   float64
 46  ELEVATORS_AVG                 73451 non-null   float64
 47  ENTRANCES_AVG                 78079 non-null   float64
 48  FLOORSMAX_AVG                 79024 non-null   float64
 49  FLOORSMIN_AVG                 50471 non-null   float64
 50  LANDAREA_AVG                  63960 non-null   float64
 51  LIVINGAPARTMENTS_AVG          49708 non-null   float64
 52  LIVINGAREA_AVG                78334 non-null   float64
 53  NONLIVINGAPARTMENTS_AVG       48056 non-null   float64
 54  NONLIVINGAREA_AVG             70534 non-null   float64
 55  APARTMENTS_MODE               77485 non-null   float64
 56  BASEMENTAREA_MODE             65228 non-null   float64
 57  YEARS_BEGINEXPLUATATION_MODE  80556 non-null   float64
 58  YEARS_BUILD_MODE              52618 non-null   float64
 59  COMMONAREA_MODE               47387 non-null   float64
 60  ELEVATORS_MODE                73451 non-null   float64
 61  ENTRANCES_MODE                78079 non-null   float64
 62  FLOORSMAX_MODE                79024 non-null   float64
 63  FLOORSMIN_MODE                50471 non-null   float64
 64  LANDAREA_MODE                 63960 non-null   float64
 65  LIVINGAPARTMENTS_MODE         49708 non-null   float64
 66  LIVINGAREA_MODE               78334 non-null   float64
 67  NONLIVINGAPARTMENTS_MODE      48056 non-null   float64
 68  NONLIVINGAREA_MODE            70534 non-null   float64
 69  APARTMENTS_MEDI               77485 non-null   float64
 70  BASEMENTAREA_MEDI             65228 non-null   float64
 71  YEARS_BEGINEXPLUATATION_MEDI  80556 non-null   float64
 72  YEARS_BUILD_MEDI              52618 non-null   float64
 73  COMMONAREA_MEDI               47387 non-null   float64
 74  ELEVATORS_MEDI                73451 non-null   float64
 75  ENTRANCES_MEDI                78079 non-null   float64
 76  FLOORSMAX_MEDI                79024 non-null   float64
 77  FLOORSMIN_MEDI                50471 non-null   float64
 78  LANDAREA_MEDI                 63960 non-null   float64
 79  LIVINGAPARTMENTS_MEDI         49708 non-null   float64
 80  LIVINGAREA_MEDI               78334 non-null   float64
 81  NONLIVINGAPARTMENTS_MEDI      48056 non-null   float64
 82  NONLIVINGAREA_MEDI            70534 non-null   float64
 83  FONDKAPREMONT_MODE            49650 non-null   object
 84  HOUSETYPE_MODE                78380 non-null   object
 85  TOTALAREA_MODE                81336 non-null   float64
 86  WALLSMATERIAL_MODE            77348 non-null   object
 87  EMERGENCYSTATE_MODE           82732 non-null   object
 88  OBS_30_CNT_SOCIAL_CIRCLE      158293 non-null  float64
 89  DEF_30_CNT_SOCIAL_CIRCLE      158293 non-null  float64
 90  OBS_60_CNT_SOCIAL_CIRCLE      158293 non-null  float64
 91  DEF_60_CNT_SOCIAL_CIRCLE      158293 non-null  float64
 92  DAYS_LAST_PHONE_CHANGE        158790 non-null  float64
 93  MISSED                        158791 non-null  int64
 94  RECOVERED                     23818 non-null   float64
dtypes: float64(58), int64(21), object(16)
memory usage: 115.1+ MB
Empty DataFrame
Columns: []
Index: []

In [39]:
feature_to_analyze = 'NAME_CONTRACT_TYPE'
target_column = 'TARGET'  # default target column name

analyze_df = data_df[[feature_to_analyze, target_column]].copy()
display(Markdown(f"### Analyzing feature: **{feature_to_analyze}**"))
display(analyze_df[feature_to_analyze].value_counts())

### Analyzing feature: **NAME_CONTRACT_TYPE**

NAME_CONTRACT_TYPE
Cash loans         144030
Revolving loans     14761
Name: count, dtype: int64